<% content_for :title do %>Blind dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="blind_above_1_calls" data-view="Meter" data-title="Blind above 1 call" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="blind_above_5_calls" data-view="Meter" data-title="Blind above 5 calls" data-min="0" data-max="100"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="blind_above_10_calls" data-view="Meter" data-title="Blind above 10 calls" data-min="0" data-max="100"></div>
    </li>

   
  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
